<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jadlokin.test.webmagic.mapper.VideoInfoMapper">
  <select id="selectAll" resultMap="com.jadlokin.test.webmagic.mapper.VideoInfoBaseMapper.BaseResultMap">
    select
    <include refid="com.jadlokin.test.webmagic.mapper.VideoInfoBaseMapper.Base_Column_List" />
    from video_info
  </select>
  <select id="selectAllAv" resultType="java.lang.Long">
    select av
    <include refid="com.jadlokin.test.webmagic.mapper.VideoInfoBaseMapper.Base_Column_List" />
    from video_info
  </select>
  <select id="selectAllAdvertisement" resultMap="com.jadlokin.test.webmagic.mapper.VideoInfoBaseMapper.BaseResultMap">
    select
    <include refid="com.jadlokin.test.webmagic.mapper.VideoInfoBaseMapper.Base_Column_List" />
    from video_info
    where type = '广告'
  </select>
</mapper>