<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jadlokin.test.webmagic.mapper.VideoMapper">
  <select id="selectAllAvThatNoInfo" resultType="java.lang.Long">
    select two_av from
        (select av as one_av from video_info_test) one full outer join
      (select av as two_av from touhou_all) two on one_av = two_av
    where (one_av is null or two_av is null)
  </select>
</mapper>